*{
    margin: 0;
    padding: 0 auto;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #223a7a;
    color: #fff;
}
.nav{
    display: flex;
    gap:50px;
    justify-content: center;
    align-items: center;
}
.header li{
    list-style-type: none;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    padding: 10px;
    border-radius: .5em;
}
.header li:hover{
    background-color: #fff;
    color:#223a7a;
}